// Style
:root {
	// Base Color
	--primary:#CF0F30;
	--primary500:#CF0F30;

	--secondary100:#FFD4DC;
	--secondary200:#FFE9ED;
	--bg100:#F9F9F9;

	--textLink:#0C7ECC;

	--monoWhite:#FFFFFF;
	--gray050:#F6F6F6;
	--gray100:#F0F0F0;
	--gray200:#E0E0E0;
	--gray300:#D0D0D0;
	--gray400:#B0B0B0;
	--gray500:#808080;
	--gray600:#606060;
	--gray700:#505050;
	--gray800:#383838;
	--gray900:#282828;
	--monoBlack:#000000;

	--star:#FFBB0B;
	--star45:#FF4500;
	--star0:#E0E0E0;

	// Article
	--art-new: #26b5ac;
	--art-shopping: #f34748;
	--art-useful: #e49c1e;

	// Base Typography
	// Size
	--xsm:  10px;
	--sm:   12px;
	--md:   14px;
	--lg:   18px;

	// Bold
	--bold-600: 600;
	--bold-700: 700;

	// Base Line Heights
	--narrow-lineHeight: 1.35;
	--default-lineHeight: 1.5;
	--wide-lineHeight: 1.75;

	// Border-radius
	--radius-low: 4px;
	--radius-medium: 8px;
	--radius-max: 100%;

	// Shadows
	--lowLight-shadow:      0px 0px 8px rgba(0, 0, 0, 0.08);
	--mediumLight-shadow:   0px 2px 8px rgba(0, 0, 0, 0.15);
	--strongLight-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.15);

	// Base Spacing
	--bs8:  8px;
	--bs16: 16px;
	--bs24: 24px;
	--bs48: 48px;
	--bs64: 64px;
	--bs96: 96px;

	// Base Spacing※New
	--bs-veryNarrow:  4px;
	--bs-narrow:  8px;
	--bs-default: 16px;
	--bs-wide: 24px;

	// Other Color 
	--other-red: #E83856;

	// New デザイントークン準拠
	// Base Spacing
	--mostNarrow: 2px;
	--veryNarrow: 4px;
	--narrow:  8px;
	--default: 16px;
	--wide: 24px;

	// Font Size
	--xsmall-fontSize:  var(--xsm);
	--small-fontSize:   var(--sm);
	--medium-fontSize:  var(--md);
	--large-fontSize:   var(--lg);

	// rem
	--rem: var(--md);
	
	// Border-radius
	--rc-mostNarrow: var(--mostNarrow);
	--rc-veryNarrow: var(--veryNarrow);
	--rc-narrow:     var(--narrow);
	--rc-default:    var(--default);
	--rc-wide:       var(--wide);

	// Color / Semantics
	--textBlack: var(--gray800);
	--textLink :#0C7ECC;
	--Link :#0C7ECC;
	--textLight: var(--gray400);
	--border   : var(--gray200);
	--bg-h3    : var(--gray100);
	--icon-gray: var(--gray400);

	// Aspect-ratio
	// 16:8
	--asp-16-8: 16 / 8;
	// 16:5
	--asp-16-5: 16 / 5;
	// 1:1
	--asp-1: 1;

	// line-heightのハーフ・レディングを打ち消すスタイル
	--leading-trim: calc((1em - 1lh) / 2);

	//  リストの余白調整
	--list-gap: var(--veryNarrow);

	// Semantic Token
	// dPMレッド
	--Semantic-Primary_text-btn-tag-arrow-border: var(--primary500);

	// テキスト
	--Semantic-Text_normal: var(--gray800);
	--Semantic-Text_gray:   var(--gray600);
	--Semantic-Text_light:  var(--gray400);
	--Semantic-Link_text:   var(--Link);
	// グレーボーダー通常
	--Semantic-Border_normal:   var(--gray200);
	// オーバーレイ（透過50% #000000）
	--Semantic-Bg_overlay: rgba(0,0,0,.5);
	// 背景色グレー50%
	--Semantic-Bg_50: var(--bg100);
	// 薄い赤
	--Semantic-Primary_light: var(--other-red);

	// Viewportの高さ計算※iOS Safari、Android対応、dvh / svh対応
	--vh-unit: 1vh;
	
	& {
		@supports (height: 100svh) {
			--vh-unit: 1svh;
		}
		
		@supports (height: 100dvh) {
			--vh-unit: 1dvh;
		}
	}

}
