// カード用スタイル
@use "setting/variables" as *;
@use "setting/mixins" as *;

// リファクタリング改修 2025.7以降
// 行省略用Mixin追加2025.10.14
// 1行表示：135%（改行無し）
// 2行表示～：150%（改行も想定した1行表示）
@mixin ellipsisStyle() {
	// 1行省略
	&.--ellipsis-1 {
		line-height: var(--narrow-lineHeight);
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		overflow: hidden;
		word-break: break-all;
	}
	// 2行省略
	&.--ellipsis-2 {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		overflow: hidden;
		word-break: break-all;
	}
	// 3行省略
	&.--ellipsis-3 {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		overflow: hidden;
		word-break: break-all;
	}
}

// カード基本：横並び用
.c-card {
	display: grid;
	grid-template-rows: 1fr;
	gap: var(--narrow);
	padding: var(--narrow);
	border: solid 1px var(--gray200);
	cursor: pointer;
	// カード内の要素配置用ブロック
	.c-card__item + .c-card__item {
		margin-top: var(--narrow);
	}
	// 人気のショップ
	&.--popularShops {
		border: none;
		padding: 0;
		gap: var(--veryNarrow);
		// カード内の要素配置用ブロック
		.c-card__item + .c-card__item {
			margin-top: var(--veryNarrow);
		}
	}
	// 余白が狭いパターン
	&.--veryNarrow {
		padding: var(--veryNarrow);
		gap: var(--veryNarrow);
		// カード内の要素配置用ブロック
		.c-card__item + .c-card__item {
			margin-top: var(--veryNarrow);
		}
	}
}



// カードタイトル
.c-card__title {
	// 1行省略※1行の場合のみ行間135%
	&.--ellipsis-1 {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		overflow: hidden;
		line-height: var(--narrow-lineHeight);
	}
	// 2行省略
	&.--ellipsis-2 {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
	// 3行省略
	&.--ellipsis-3 {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
}

// カード内で要素を左右に振り分け
.c-card__spaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	// オプション：上寄せ
	&.--align-top {
		align-items: flex-start;
	}
	// オプション：中央寄せ
	&.--align-middle {
		align-items: center;
	}
}

// ランキングアイコン
.c-card__rankingIcon {
	display: inline-block;
	width: 18px;
	> img {
		display: inline;
		height: 18px;
		vertical-align: middle;
	}
}
// サムネイル
.c-card__thumb {
	display: block;
	overflow: hidden;
	aspect-ratio: 1;
	background: url(#{$cdn}/assets/img/icon_assets_preload.svg#{$bgImgCache}) no-repeat center center;
	background-size: 32px auto; 
	@include imgLoadedStyle();
	img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}

// おすすめショップ用カードレイアウト：（SP時）カード4列ずつ表示 / (PCTAB時) カードを横並び表示
.c-card-recommended {
	@include onlySp() {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
		min-width: 343px;
		.c-card-lite {
			// グリッド表示時（SP)の枠線調整
			border: 1px solid var(--gray200);
			// 左の枠線を透明にする（画像サイズ崩れ防止の為colorで調整）
			border-left-color: transparent; 
			// 1列目のみ左線を表示
			&:nth-child(4n + 1) {
				border-left-color: var(--gray200);
			}
			// 2行目（5〜8番目）のみ border-top を削除
			&:nth-child(n + 5):nth-child(-n + 8) {
				border-top: none;
			}
		}
	}
	@include notSp() {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		overflow-x: auto;
		padding: 0 var(--default);
		// pc以外はスクロールバーを非表示
		&::-webkit-scrollbar {
			display: none;
		}
		// pcのみスクールバー表示
		@include onlyPc() {
			// スクロールバーと商品リンクが干渉しないよう隙間を作る
			padding-bottom: var(--narrow);
			&::-webkit-scrollbar {
				display: block;
				background-color:#fff;
				height: 8px;
			}
			// スクールバーのデザイン
			&::-webkit-scrollbar-thumb {
				background-color: var(--gray200);
				border-radius: 5px;
			}
		}
		// スライダー表示時のカード調整
		.c-card-lite {
			flex: 0 0 86px;
		}
	}
}


// ここから下がリファクタリング用カード最新データ---------------------------------------------------
// 新規カードを追加の際は以下のソースをベースに作成することを検討してください。★その際は必ず実装担当と相談のこと★
// カード基本スタイル
.c-card {
	// 横並び用スタイル start ===
	// 横並び(A～C)
	padding: var(--narrow);
	border: solid 1px var(--gray200);
	background-color: var(--monoWhite);
	cursor: pointer;
	// 旧カード用スタイルと共存させるための暫定措置およびGrid属性設定用出し分け
	&:has(&__grid, .c-card-item) {
		display: grid;
		grid-template-rows: 1fr;
		gap: var(--narrow);
	}
	// 横並び(D:コンパクト版)
	&.--compact {
		padding: var(--veryNarrow) var(--veryNarrow) var(--narrow); 
		// 編成枠用スライダー配下
		.c-featuredShops & {
			& {
				// スライダー表示の時の枠線の重なりを防ぐための枠線調整
				// 左の枠線を透明にする（画像サイズ崩れ防止の為colorで調整）
				border-left-color: transparent;
				// 一番左のみ左線を表示
				&:first-child {
					border-left-color: var(--gray200);
				}
			}
			// スマホ専用
			@include onlySp() {
			// スマホ縦向き
				// グリッド表示時（SP)の枠線調整
				border: 1px solid var(--gray200);
				// 左の枠線を透明にする（画像サイズ崩れ防止の為colorで調整）
				border-left-color: transparent; 
				// 1列目のみ左線を表示
				&:nth-child(4n + 1) {
					border-left-color: var(--gray200);
				}
				// 2行目（5〜8番目）のみ border-top を削除
				&:nth-child(n + 5):nth-child(-n + 8) {
					border-top: none;
				}
				// スマホ横向き
				@include landscape() {
					// SP縦向き用border設定をリセット
					&:nth-child(4n + 1) {
						border-left-color: transparent; 
					}
					&:nth-child(n + 5):nth-child(-n + 8) {
						border-top: 1px solid var(--gray200);
					}
					// 一番左のみ左線を表示
					&:first-child {
						border-left-color: var(--gray200);
					}	
					// スライダー表示時のカード調整
					flex: 0 0 88px;
				}
			}
			// スマホ以外（PC、タブレット）
			@include notSp() {
				flex: 0 0 88px;
			}
		}
		// 編成枠用スライダー配下※今後c-featuredShopsからこちらに統一予定
		.c-card-layout-compact & {
			& {
				// スライダー表示の時の枠線の重なりを防ぐための枠線調整
				// 左の枠線を透明にする（画像サイズ崩れ防止の為colorで調整）
				border-left-color: transparent;
				// 一番左のみ左線を表示
				&:first-child {
					border-left-color: var(--gray200);
				}
			}
			// スマホ専用
			@include onlySp() {
			// スマホ縦向き
				// グリッド表示時（SP)の枠線調整
				border: 1px solid var(--gray200);
				// 左の枠線を透明にする（画像サイズ崩れ防止の為colorで調整）
				border-left-color: transparent; 
				// 1列目のみ左線を表示
				&:nth-child(4n + 1) {
					border-left-color: var(--gray200);
				}
				// 2行目（5〜8番目）のみ border-top を削除
				&:nth-child(n + 5):nth-child(-n + 8) {
					border-top: none;
				}
				// スマホ横向き
				@include landscape() {
					// SP縦向き用border設定をリセット
					&:nth-child(4n + 1) {
						border-left-color: transparent; 
					}
					&:nth-child(n + 5):nth-child(-n + 8) {
						border-top: 1px solid var(--gray200);
					}
					// 一番左のみ左線を表示
					&:first-child {
						border-left-color: var(--gray200);
					}	
					// スライダー表示時のカード調整
					flex: 0 0 88px;
				}
			}
			// スマホ以外（PC、タブレット）
			@include notSp() {
				flex: 0 0 88px;
			}
		}
	} 
	// 横並び(E：ランキングアイコン付き)
	&.--ranking {
		border: none;
		padding: 0;
	}
	// 横並び用スタイル end ===

	// 縦並び用スタイル start ===
	// 2カラム+1のモディファイヤ
	&.--grid {
		grid-template-columns: 130px 1fr;
		// 93px用サムネイルがある場合
		&:has(.c-card__thumb.--w93) {
			grid-template-columns: 93px 1fr;
		}
		// c-card__gridが2つの場合
		&:has(.c-card__grid:nth-child(2):last-child) {
			grid-template-rows: 1fr;
			grid-template-areas: "thumb contents";
			.c-card__grid {
				&:nth-child(1) {
					grid-area: thumb;
				}
				&:nth-child(2) {
					grid-area: contents;
				}
			}
		}
		
		// c-card__gridが3つの場合
		&:has(.c-card__grid:nth-child(3):last-child) {
			grid-template-rows: 1fr auto;
			grid-template-areas:
				"thumb contents"
				"bottom bottom";
			.c-card__grid {
				&:nth-child(1) {
					grid-area: thumb;
				}
				&:nth-child(2) {
					grid-area: contents;
				}
				&:nth-child(3) {
					grid-area: bottom;
				}
			}
		}
	}

	// 縦並び2-2
	&.--gridPointHIstory {
		grid-template-columns: 130px 1fr;
		// 93px用サムネイルがある場合
		&:has(.c-card__thumb.--w93) {
			grid-template-columns: 93px 1fr;
		}
		// c-card__gridが3つの場合:サムネイル / コンテンツ / 確認番号
		&:has(.c-card__grid:nth-child(3):last-child) {
			grid-template-rows: 1fr auto;
			grid-template-areas: 
				"thumb contents"
				"thumb confirmNo";
			.c-card__grid {
				&:nth-child(1) {
					grid-area: thumb;
				}
				&:nth-child(2) {
					grid-area: contents;
				}
				&:nth-child(3) {
					grid-area: confirmNo;
				}
			}
		}
		// c-card__gridが4つの場合:サムネイル / コンテンツ / 確認番号 / 掲載終了
		&:has(.c-card__grid:nth-child(4):last-child) {
			grid-template-rows: 1fr auto;
			grid-template-areas: 
				"thumb contents"
				"thumb confirmNo"
				"bottom bottom";
			.c-card__grid {
				&:nth-child(1) {
					grid-area: thumb;
				}
				&:nth-child(2) {
					grid-area: contents;
				}
				&:nth-child(3) {
					grid-area: confirmNo;
				}
				&:nth-child(4) {
					grid-area: bottom;
				}
			}
		}
	}
	// dカード訴求セグメント枠用
	&.--segmentSwitch {
		grid-template-columns: 90px 1fr;
	}
	// 縦並び用スタイル end ===
	// 横並び・縦並び用スタイル共通 start ===
	// カード要素をGridを使って制御するためのスタイル
	&__grid {
		// Gridセルのmin-widthの初期化※auto→0に
		min-width: 0;
		min-height: 0;
	}
	// カード内の要素配置用ブロック※リファクタリング本番用
	&__content > * + * {
		margin-top: var(--narrow);
		// 横並びD/E/F-1
		.--compact &, 
		.--ranking &,
		.--elmGapVerynarrow &, 
		// 縦並びdカード訴求バナー
		.--segmentSwitch & {
			margin-top: var(--veryNarrow);
		}
	}
	// チェックボックス付きのカード
	// チェックボックス用ラッパー
	.is-open-edit-checkbox & {
		padding-left: 35px;
	}
	&__selectBoxWrap {
		position: relative;
	}
	&__selectBox {
		display: none;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.is-open-edit-checkbox & {
			display: flex;
			cursor: pointer;
		}
		// チェックボックスのinputを非表示
		input[type=checkbox] {
			display: none;
		}
		
	}
	// チェックボックスデザイン
	&__checkboxMark {
		align-items: center;
		background: url(#{$cdn}/assets/img/bg_assets_checkbox.svg#{$bgImgCache}) no-repeat center left;
		background-size: contain;
		display: inline-block;
		width: 19px;
		height: 19px;
		margin-left: var(--narrow);
		// チェックボックスがチェックされている場合
		.is-open-edit-checkbox input[type=checkbox]:checked + & {
			background: url(#{$cdn}/assets/img/bg_assets_checkbox_checked.svg#{$bgImgCache}) no-repeat center left
		}
	}

	// カード内の要素配置用ブロック
	.c-card__item + .c-card__item {
		margin-top: var(--narrow);
	}
	// カードのバリエーション start ===
	// 掲載終了した商品・ショップのカードをクリックできなくする
	&.--disabled {
		cursor: default;
	}
	// 人気のショップ
	&.--popularShops {
		border: none;
		padding: 0;
		gap: var(--veryNarrow);
		// カード内の要素配置用ブロック
		.c-card__item + .c-card__item {
			margin-top: var(--veryNarrow);
		}
	}
	// 余白が狭いパターン
	&.--veryNarrow {
		padding: var(--veryNarrow);
		gap: var(--veryNarrow);
		// カード内の要素配置用ブロック
		.c-card__item + .c-card__item {
			margin-top: var(--veryNarrow);
		}
	}
	// キャンペーン専用カード（縦並び5-1）※DPMDEV-5933にて追加
	&.--campaign {
		padding: 0 0 var(--default);
		border: none;
		border-bottom: solid 1px var(--gray200);
		// キャンペーンバナー時はタイトルテキストのlineHeightをデフォルトにする
		.c-card__title {
			line-height: var(--default-lineHeight);
		}
	}
	// カードのバリエーション end ===
	// ランキングアイコン
	&__rankingIcon {
		display: inline-block;
		width: 18px;
		> img {
			display: inline;
			height: 18px;
			vertical-align: middle;
		}
	}
	// サムネイル
	&__thumb {
		display: block;
		overflow: hidden;
		aspect-ratio: 1;
		background: url(#{$cdn}/assets/img/icon_assets_preload.svg#{$bgImgCache}) no-repeat center center;
		background-size: 32px auto;
		@include imgLoadedStyle();
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	// カードタイトル
	// 文字サイズデフォルト(14px)
	&__title {
		@include ellipsisStyle();
	}
	// 文字サイズ12px
	&__title-small {
		font-size: var(--small-fontSize);
		@include ellipsisStyle();
	}
	// 文字サイズ14px、太文字
	&__title-bold {
		// 合成ボールドを許可
		font-synthesis: weight style;
		font-weight: var(--bold-700, 700);
		font-family: Roboto, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		@include ellipsisStyle();
	}
	// ポイントアップやセール等のバッジ配置用
	// レイアウト※マルチカラムを当初から想定
	&__flex {
		display: flex;
		align-items: center;
		gap: var(--veryNarrow);
	}
	&__badge {
		display: inline-flex;
		img {
			height: 18px;
			width: fit-content;
		}
	}
	// 価格
	&__price {
		display: flex;
		align-items: baseline;
		font-size: 18px;
		font-weight: var(--bold-700);
		&::before {
			content: "¥";
			font-size: 12px;
		}
	}
	// カード内テキスト用汎用スタイル
	&__status {
		line-height: var(--narrow-lineHeight);
		// 文字サイズ10px
		&.--xsmall {
			font-size: var(--xsmall-fontSize);
		}
		// 文字サイズ12px
		&.--small {
			font-size: var(--small-fontSize);
		}
		//  グレー文字文字文字サイズ12px
		&.--textLightSmall {
			font-size: var(--small-fontSize);
			color: var(--gray400);
		}
		// 赤文字
		&.--primary {
			color: var(--primary500);
		}
		// 赤文字文字サイズ12px
		&.--primarySmall {
			font-size: var(--small-fontSize);
			color: var(--primary500);
		}
		// 縦並び2-1用::PRテキスト
		&.--prText {
			font-size: var(--small-fontSize);
			-webkit-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			overflow: hidden;
			word-break: break-all;
		}
		// dカード訴求枠用
		&.--segmentSwitch {
			font-size: var(--small-fontSize);
			line-height: var(--default-lineHeight);
			-webkit-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			overflow: hidden;
			word-break: break-all;
		}
	}
	// カード内で要素を左右に振り分け
	&__spaceBetween {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		cursor: default;
			align-items: flex-end;
		// オプション：上寄せ
		&.--align-top {
			align-items: flex-start;
		}
		// オプション：中央寄せ
		&.--align-middle {
			align-items: center;
		}
	}
	// カード最下部用レイアウト
	&__bottom {
		display: flex;
		align-items: flex-end;
		gap: var(--narrow);
		cursor: default;
		> * {
			width: fit-content;
		}
		//  右寄せ
		&.--right {
			justify-content: flex-end;
			> * {
				margin-left: auto;
				width: fit-content;
			}
		}
		//  中央寄せ
		&.--center {
			justify-content: center;
		}
		// カード内で要素を左右に振り分け
		&.--spaceBetween {
			justify-content: space-between;
		}
		// カード内でお気に入りボタンを右寄せにする
		.c-button-add-favorite {
			margin-left: auto;
			width: fit-content;
		}
	}
	// カード内要素横並び用汎用ブロック
	&__flexRow {
		display: flex;
		gap: var(--veryNarrow);
		cursor: default;
		align-items: center;
		> * {
			width: fit-content;
		}
		// した寄せ
		&.--bottom {
			align-items: flex-end;
		}
		// flexRowe配下の特定の要素を右寄せ
		.--pushRight {
			margin-left: auto;
			width: fit-content;
		}
	}
	// ポイント表示エリア（還元率表示、出稿主アイコン、詳細ポップ表示ボタン）
	&__pointArea {
		display: flex;
		align-items: center;
		gap: var(--mostNarrow);
		flex-wrap: wrap;
		min-height: 20px;
	}
	// カードタイトル文頭に配置するnewアイコン ※DPMDEV-5933にて追加
	&__newIcon {
		display: inline-block;
		margin-right: var(--veryNarrow);
		vertical-align: middle;
	}
	// 横並び・縦並び用スタイル共通 end ===
}

// ポイント表示エリア内表示要素
.c-point-card {
	display: flex;
	align-items: center;
	// 中央寄せ(横並びD)
	&.--centering {
		width: fit-content;
		margin-inline: auto;
	}
	// 最大アイコン
	&__maxIcon {
		display: inline-flex;
		width: 10px;
		flex: 0 0 10px;
		img {
			height: 20px;
			width: fit-content;
		}
	}
	// 還元率表示
	&__returnRate {
		background: url(#{$cdn}/assets/img/icon_assets_dpoint.svg#{$bgImgCache}) no-repeat center left;
		background-size: 20px auto;
		padding-left: 20px;
		font-weight: var(--bold-700);
		color: var(--primary500);
		line-height: var(--narrow-lineHeight);
		&.--plain {
			background-size: 16px auto;
			padding-left: 16px;
			color: var(--Semantic-Text_normal);
			font-weight: initial;
		}
	}
	// 還元率の単位（%など）
	&__returnRateUnit {
		font-size: var(--xsmall-fontSize);
		white-space: nowrap;
	}
	// 読み込み中
	&__preloader {
		background: url(#{$cdn}/assets/img/icon_assets_dpoint.svg#{$bgImgCache}) no-repeat center left;
		background-size: 20px auto;
		padding-left: 20px;
		color: var(--Semantic-Text_light);
		font-size: var(--small-fontSize);
		// ドットアニメーション
		&::after {
			display: inline-block;
			margin-left: 2px;
			content: '';
			width: 14px;
			white-space: nowrap;
			animation: dot-blink 2s linear infinite;
		}
		// キーフレーム
		@keyframes dot-blink {
			0%, 20% {
				content: '';
			}
			40% {
				content: '.';
			}
			60% {
				content: '..';
			}
			80%, 100% {
				content: '...';
			}
		}
	}
}

// 出稿主アイコン
.c-publisherIcon {
	padding: 0 4px 0 10px;
	background: url(#{$cdn}/assets/img/img_assets_plus.svg#{$bgImgCache}) no-repeat center left;
	background-size: 8px auto;
	flex: 0 0 34px;
		img {
			// DPMDEV-6307にて修正：Mac/iPhoneで画像幅が崩れたので修正
			object-fit: contain;
			height: 20px;
	}
}
// 詳細ポップ表示ボタン
.c-detailOpenButton {
	color: var(--Semantic-Text_light);
	font-size: var(--small-fontSize);
	font-weight: var(--bold-700);
	text-decoration-line: underline;
	margin-left: 2px;
	white-space: nowrap;
}

// おすすめショップ用カードレイアウト：（SP時）カード4列ずつ表示 / (PCTAB時) カードを横並び表示
.c-card-recommended {
	@include onlySp() {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
		min-width: 343px;
		.c-card-lite {
			// グリッド表示時（SP)の枠線調整
			border: 1px solid var(--gray200);
			// 左の枠線を透明にする（画像サイズ崩れ防止の為colorで調整）
			border-left-color: transparent;
			// 1列目のみ左線を表示
			&:nth-child(4n + 1) {
				border-left-color: var(--gray200);
			}
			// 2行目（5〜8番目）のみ border-top を削除
			&:nth-child(n + 5):nth-child(-n + 8) {
				border-top: none;
			}
		}
	}
	@include notSp() {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		overflow-x: auto;
		padding: 0 var(--default);
		// pc以外はスクロールバーを非表示
		&::-webkit-scrollbar {
			display: none;
		}
		// pcのみスクールバー表示
		@include onlyPc() {
			// スクロールバーと商品リンクが干渉しないよう隙間を作る
			padding-bottom: var(--narrow);
			&::-webkit-scrollbar {
				display: block;
				background-color:#fff;
				height: 8px;
			}
			// スクールバーのデザイン
			&::-webkit-scrollbar-thumb {
				background-color: var(--gray200);
				border-radius: 5px;
			}
		}
		// スライダー表示時のカード調整
		.c-card-lite {
			flex: 0 0 86px;
		}
	}
}

// カードレイアウト：横並び
// 横スクロール
.c-card-layout-horizontal {
	& {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		overflow-x: auto;
		padding: 0 var(--default);
		gap: var(--narrow);
		// pc以外はスクロールバーを非表示
		&::-webkit-scrollbar {
			display: none;
		}
	}
	// pcのみスクールバー表示
	@include onlyPc() {
		// スクロールバーと商品リンクが干渉しないよう隙間を作る
		padding-bottom: var(--narrow);
		&::-webkit-scrollbar {
			display: block;
			background-color:var(--monoWhite);
			height: 8px;
		}
		// スクールバーのデザイン
		&::-webkit-scrollbar-thumb {
			background-color: var(--gray200);
			border-radius: 5px;
		}
	}
	// スクロールバーの背景色を透明にする ※DPMDEV-6511にて追加
	&.--scrollbarBgClear {
		@include onlyPc() {
			&::-webkit-scrollbar {
				background-color: transparent;
			}
		}
	}
	// カードの幅設定
	//  商品系：A
	&.--product-a {
		.c-card {
			flex: 0 0 148px;
		}
	}
	// プログラム系：B
	&.--program-b {
		.c-card {
			flex: 0 0 148px;
		}
	}
	// プログラム系：C
	&.--program-c {
		.c-card {
			flex: 0 0 111px;
		}
	}
	// プログラム系：D
	&.--program-d {
		.c-card {
			flex: 0 0 88px;
		}
	}
	// プログラム系：E
	&.--program-e {
		.c-card {
			flex: 0 0 80px;
		}
	}
	&.--program-e-1 {
		display:grid;
		gap: 10px var(--narrow);
		grid-template-columns: repeat(4,1fr);
		overflow-x: initial;
		padding: 0;
	}
	&.--program-e-2 {
		@include notSp() {
			.c-card {
				flex: 0 0 80px;
			}
		}
		@include onlySp() {
			display:grid;
			gap: var(--narrow);
			grid-template-columns: repeat(4,1fr);
			padding: 0;
		}
	}
	// プログラム系：F
	&.--program-f {
		.c-card {
			flex: 0 0 109px;
		}
	}
	// プログラム系：G
	&.--program-g {
		.c-card {
			flex: 0 0 111px;
		}
	}
}

// スクロールなし、マルチカラム
.c-card-layout-multiColumn {
	& {
		display: grid;
		gap: var(--narrow);
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
	}
}
// スクロール無し、可変マルチカラム(SP:2 / PCTAB:3)
.c-card-layout-multiColumn-responsive {
	& {
		display: grid;
		gap: var(--narrow);
		width: 100%;
		@include onlySp() {
			grid-template-columns: repeat(2, 1fr);
		}
		@include notSp() {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

// キャンペーン日付 ※DPMDEV-5933にて追加
.c-period {
	display: flex;
	gap: var(--veryNarrow);
	align-items: center;
	// アイコン画像
	&::before {
		background: url(#{$cdn}/assets/img/icon_assets_date_20251209.svg) no-repeat center center;
		background-size: contain;
		content: "";
		display: block;
		flex: 0 0 24px;
		height: 24px;
	}
	// テキスト
	&__text {
		font-weight: var(--bold-700);
		line-height: var(--narrow-lineHeight);
		top: 1px;
		position: relative;
	}
}

// 各カード用プリローダー ====================================
// 横並び用プリローダー
.c-preload-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        background: url(#{$cdn}/assets/img/icon_assets_preload.svg) no-repeat center center;
        background-size: 32px auto;
    }
	// タイプ別高さ指定
	// 横並び用 ===
	// B-1
	&.--h-b-1 {
		height: 228px;
		@include onlyPc() {
			height: 244px;
		}
	}

	// C-1
	&.--h-c-1 {
		@include onlySp() {
			aspect-ratio: 343 / 224;
		}
		@include notSp() {
			height: 189px;
		}
	}

	// D-1
	&.--h-d-1 {
		@include onlySp() {
			aspect-ratio: 343 / 150;
		}
		@include notSp() {
			height: 116px;
		}
	}

	// D-2
	&.--h-d-2 {
		@include onlySp() {
			aspect-ratio: 343 / 264;
		}
		@include notSp() {
			height: 116px;
		}
	}

	// E-1
	&.--h-e-1 {
		@include onlySp() {
			aspect-ratio: 343 / 268;
		}
		@include notSp() {
			height: 116px;
		}
	}

	// E-2
	&.--h-e-2 {
		@media screen and (max-width: 767px) {
			aspect-ratio: 343 / 268;
		}
		@media screen and (min-width: 768px) {
			height: 162px;
		}
	}

	// G-2
	&.--h-g-2 {
		@include onlySp() {
			aspect-ratio: 343 / 390;
		}
		@include notSp() {
			height: 204px;
		}
	}

	// 縦並び用 ===
	// 1-1
	// &.--v-1-1 {
	// 	height: 410px;
	// }
	// 4-※セクションごとプリローダー
	&.--v-4-1 {
		height: 108px;
	}
	// 松カード用 ===
	&.--pine {
		height: 212px;
		@include onlyPc() {
			height: 182px;
		}

	}
}

// 松カード：単体配置パターンと商品隣接パターン両対応
// 松カード単体配置パターン
.c-card-pine {
	background-color: #fff;
	display: grid;
	cursor: pointer;
	border: 1px solid var(--Semantic-Border_normal);
	padding: var(--default);
	// ボーダー無しボーダー内側余白無し：リッチ版LP内で主に使用
	&.--noBorder {
		border: none;
		padding: 0;
	}
	grid-template-areas:
		"thumb"
		"info";
	gap: var(--narrow);
	// デバイス別レイアウト調整
	// PCのみ
	@include onlyPc() {
		grid-template-areas: "thumb info";
		grid-template-columns: 450px 1fr;
		gap: var(--default);
		&.--noBorder {
			grid-template-columns: 328px 1fr;
		}
	}
	// カードのサムネイル
	&__thumb {
		grid-area: thumb;
		background: url(#{$cdn}/assets/img/icon_assets_preload.svg#{$bgImgCache}) no-repeat center center;
		background-size: 32px auto;
		img {
			object-fit: contain;
		}
		&.is-image-loaded {
			background-image: none;
		}
	}
	// カードのサムネイル情報エリア
	&__info {
		grid-area: info;
		// デバイス別レイアウト調整
		// SP / TAB
		@include notPc() {
			display: grid;
			gap: var(--narrow);
			grid-template-columns: 60px 1fr;
			grid-template-areas: 
			"icon inner";
		}
	}
	// プログラム名とポイントコンテナ用ラッパー
	&__infoInner {
		align-self: flex-start;
		grid-area: inner;
		display: grid;
		grid-template-columns: auto;
		gap: var(--veryNarrow);
		// SP/TAB用調整
		@include notPc() {
			transform: translateY(var(--mostNarrow));
		}		
	}
		// プログラム名
		&__title {
			font-size: var(--medium-fontSize);
			font-weight: var(--bold-700);
			line-height: var(--narrow-lineHeight);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-break: break-all;
		}
		// ポイント用コンテナ
		&__point {
			display: flex;
			flex-wrap: wrap;
			gap: var(--veryNarrow);
			align-items: center;
			.p-lpRich-card-pine-pointup {
				flex: 0 0 76px;
				img {
					height: 18px;
				}
			}
			// 還元率部分調整★DPMDEV-6231追加
			.c-point-compact__point {
				align-items: center;
			}
			.pointNum {
				white-space: nowrap;
				line-height: var(--narrow-lineHeight);
			}
		}
	// ショップアイコン用コンテナ
	&__shopIcon {
		grid-area: icon;
		width: 60px;
		height: auto;
		// PCのみマージントップを設定
		@include onlyPc() {
			margin-top: var(--narrow);
		}
		img {
			object-fit: contain;
		}
	}
}
